 .exercise1-block {
   background-color: #f2f2f2;
   border-bottom: 1px solid #d5dddf;
   border-top: 1px solid #d5dddf;
 }

 .ex2-block {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 980px;
 }

 .exercise1-box-left {
   font-size: 15px;
   padding: 15px 0;
   
 }

 .exercise1-box-left a {
   margin: 7px;
   text-decoration: none;
   color: #999;
 }

 div.ex2-box-right {
   font-size: 15px;
   padding: 15px 0;
   
 }

 div.ex2-box-right a {
   margin: 7px;
   text-decoration: none;
 }